body{
    font: 20px Arial, sans-serif;
}
.navbar {
    background-color:#58D68D;
}

.quem-somos{
    background-color: #3498DB;
    color: #FDFEFE;
}
.margin{
    padding-top: 10px;
    padding-bottom: 50px;
}
.parceiros{
    background-color:#85929E; 
    color: white;
}
.bg-footer {
    background-color: #17202A;
    color: white;

}

